services:
  broker:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:broker
    container_name: broker
    volumes:
      - ./broker:/app
    ports:
      - 5555:5555
      - 5556:5556

  proxy:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:proxy
    container_name: proxy
    volumes:
      - ./proxy:/app
    ports:
      - 5557:5557
      - 5558:5558

  reference:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:reference
    container_name: reference
    volumes:
      - ./reference:/app

  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:server
    volumes:
      - ./server:/app
      - ./data:/app/data
    depends_on:
      - broker
      - proxy
      - reference
    environment:
      - REFERENCE_HOST=reference
      - REFERENCE_PORT=5560
    deploy:
      replicas: 3

  client:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:client
    stdin_open: true
    tty: true
    depends_on:
      - server
    volumes:
      - ./client:/app

  listener:
    build:
      context: .
      dockerfile: Dockerfile
    image: cc7261:listener
    volumes:
      - ./listener:/app
    depends_on:
      - proxy

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    image: cc7261:bot
    depends_on:
      - server
    deploy:
      replicas: 2
